
.main-content {
    text-align: center;
    width: 100%;
    display: flex;
    gap:150px;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content h2 {
    font: 74px Roboto, sans-serif;
    color: #09092d;
    max-width:800px;
    font-weight: bold;
    margin:96px 0 20px;
}

.main-content p {
    display: block;
    font: 24px Roboto, sans-serif;
    color: #214744;
    max-width:600px;
   }

.book{
    max-width: 300px;
    width: 100%;
    height: auto;
    align-self: center;

}
.container button{
    color: white;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-color:#214744;
    padding: 16px 16px;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    transition: ease-in-out 200ms;
}

.container button:hover{
    background-color: #4fbd59;
}