
.categories {
    background: #09092d;
    padding: 0 32px 28px 32px;
    border-radius: 25px;
}

.categories h3 {
    font: 36px Roboto, sans-serif;
    padding: 0 60px;
    background: #ffffff;
    border-radius: 25px;
}

.categories ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.categories ul li a {
    text-decoration: none;
    color: #ffffff;
    font: 24px Roboto, sans-serif;

}
.categories ul li::marker{
    color: #ffffff;
}