.header {
    background: #09092d;
    width: 100%;
    height: 140px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

#title {
    font: 96px Jaro, sans-serif;
    color: white;
    font-weight: thin;
    letter-spacing: 8px;
    margin: 0;
    padding: 0;
}

#title a {
    color: #F5F5F5;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 46px;
}


.menu {
    display: flex;
    align-items: center;
}

.menu img {
    margin-right: 14px;
}

.loginButton {
    margin-right: 40px;
}

.menu__button {
    padding: 8px 36px;
    border-radius: 80px;
    border: none;
    background: #2C3245;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
    color: #F5F5F5;
}

.menu__button:hover {
    background: #4a70a1;

}